@use 'global_66';

/*
=======================
nav
=======================
*/

.nav{
    z-index: 2;
    text-align: justify;
    background-color: var(--clr-blue-navgb);
    display: flex;
    gap: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    &-center{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        position: relative;
        left: 5rem;
    }
    &-links{
        
        margin-right: 10rem;
        display: flex;
        gap: 2rem;
        height: 80px;
        align-items: center;
        text-align: center;
        a{
            
            margin: 0 auto;
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
        li{
            width: fit-content;
            &:hover .underline{
                width: 100%;
                transition-duration: 0.7s;
                transform-origin: left;
            }
            &:hover a{
                color: var(--clr-primary-6);
            }

            &:hover .icon{
                color: var(--clr-primary-6);
            }
        }
        .icon{
            color: white;
            margin-left: 0.5rem;
        }
        
    }

    .underline{
        width: 0;
        
    }
    &-btn{
        display: none;
    }
    @media screen and (max-width:1100px) {
        height: 60px;
        a{
            font-size: 15px;
        }
        &-links{
            gap: 1rem;
        }
    }
    @media screen and (max-width:996) {
        a{
            height: 60px;
            font-size: 10px;
        }
        &-links{
            gap: 0.5rem;
        }
    }
    @media screen and (max-width:850px) {
        &-btn{
            display: block;
            margin-right: 2rem;
            border-color: transparent;
            background-color: transparent;
            font-size: 1.8rem;
            color: white;
            cursor: pointer;
        }
        &-links{
            display: none;
        }
    }
    
}

.nav-fix{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    opacity: 0.6;
    box-shadow: var(--light-shadow);
    z-index: 5;
}



.drop-list{
    display: inline-block;
    border-radius: 5px;
    .nav-form{
        display: none;
        position: absolute;
        background-color: var(--clr-blue-lightblue-t);
        z-index: 1;
        
        a{
            padding: 1.2rem;
            width: 100%;
            
        }
    }
    
    &:hover .nav-form{
        
        a{
            font-size: 1rem;
            color: var(--clr-grey-5);
        }
        display: flex;
        flex-direction: column;
        &:hover{
            display: flex;
        }
        & a:hover{
            background-color: var(--clr-blue-lightblue2-t);
            border-color: var(--clr-grey-2);
            color: rgb(255, 0, 0);
            transition-timing-function: linear;
            transition-duration: 0.5s;
            transform-origin: left;
            
        }
    }
    &:hover .underline{
        margin-bottom: 0.5rem;
    }
    &:hover{
        margin-top: 0.5rem;
    }
}


/*
=======================
sidebar
=======================
*/

.sidebar{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    background-color:rgb(255, 255, 255, 0.7);
    transition: all 0.4s linear;
    transform: translateY(-100%);

    
    &-links{
        display: grid;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 2rem;
        gap: 2rem;
        margin-left: 3rem;
        font-weight: bold;
        a{
            color: var(--clr-blue-navgb);
        }
        
    }
    i{
        color: var(--clr-blue-navgb);
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    li{
        display: grid;
        grid-template-columns: 130px 1fr;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
}

.show-sidebar{
    transform: translateY(0);
}
.close-btn{
    display: none;
    margin-right: 2rem;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}