@use 'global_66';

/*
=======================
nav
=======================
*/

.nav{
    z-index: 2;
    text-align: justify;
    background-color: var(--clr-blue-navgb);
    display: flex;
    gap: 1.5rem;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 80px;
    &-center{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &-logo{
        position: relative;
        left: 5rem;
    }
    &-links{
        
        margin-right: 10rem;
        display: flex;
        gap: 2rem;
        height: 80px;
        align-items: center;
        text-align: center;
        a{
            
            margin: 0 auto;
            color: white;
            font-weight: bold;
            font-size: 20px;
        }
        li{
            width: fit-content;
            &:hover .underline{
                width: 100%;
                transition-duration: 0.7s;
                transform-origin: left;
            }
            &:hover a{
                color: var(--clr-primary-6);
            }

            &:hover .icon{
                color: var(--clr-primary-6);
            }
        }
        .icon{
            color: white;
            margin-left: 0.5rem;
        }
        
    }

    .underline{
        width: 0;
        
    }
    &-btn{
        display: none;
    }
    @media screen and (max-width:1100px) {
        height: 60px;
        a{
            font-size: 15px;
        }
        &-links{
            gap: 1rem;
        }
    }
    @media screen and (max-width:996) {
        a{
            height: 60px;
            font-size: 10px;
        }
        &-links{
            gap: 0.5rem;
        }
    }
    @media screen and (max-width:850px) {
        &-btn{
            display: block;
            margin-right: 2rem;
            border-color: transparent;
            background-color: transparent;
            font-size: 1.8rem;
            color: white;
            cursor: pointer;
        }
        &-links{
            display: none;
        }
    }
    
}

.nav-fix{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 60px;
    opacity: 0.8;
    box-shadow: var(--light-shadow);
    z-index: 5;
}

.drop-list{
    display: inline-block;
    border-radius: 5px;
    .nav-form{
        display: none;
        position: absolute;
        background-color: var(--clr-blue-lightblue-t);
        z-index: 1;
        
        a{
            padding: 1.2rem;
            width: 100%;
            
        }
    }
    
    &:hover .nav-form{
        
        a{
            font-size: 1rem;
            color: var(--clr-grey-5);
        }
        display: flex;
        flex-direction: column;
        &:hover{
            display: flex;
        }
        & a:hover{
            background-color: var(--clr-blue-lightblue2-t);
            border-color: var(--clr-grey-2);
            color: rgb(255, 0, 0);
            transition-timing-function: linear;
            transition-duration: 0.5s;
            transform-origin: left;
            
        }
    }
    &:hover .underline{
        margin-bottom: 0.5rem;
    }
    &:hover{
        margin-top: 0.5rem;
    }
}




/*
=======================
sidebar
=======================
*/

.sidebar{
    z-index: 1;
    position: fixed;
    left: 0;
    top: 60px;
    width: 100%;
    background-color:rgb(255, 255, 255, 0.7);
    transition: all 0.4s linear;
    transform: translateY(-120%);
    .underline{
        width: 0;
    }
    
    &-links{
        display: grid;
        padding-top: 3rem;
        padding-bottom: 3rem;
        font-size: 2rem;
        gap: 2rem;
        margin-left: 3rem;
        font-weight: bold;
        a{
            color: var(--clr-blue-navgb);
        }
        
    }
    i{
        color: var(--clr-blue-navgb);
        margin-left: 1rem;
        font-size: 1.2rem;
    }

    li{

        .sidebar-link{
            display: flex;
            align-items: center;
            vertical-align: middle;
        }
        
        
        
        &:hover{
            
            a{
                transition-duration: 0.2s ;
                transform-origin: left;
                color: red;
            }
            
            i{
                transition-duration: 0.2s ;
                transform-origin: left;
                color: red;
            }
            
        }
        width: fit-content;
        &:hover .underline{
            width: 100%;
            transition-duration: 0.7s;
            transform-origin: left;
        }
    }
}

.show-sidebar{
    transform: translateY(0);
}
.close-btn{
    display: none;
    margin-right: 2rem;
    border-color: transparent;
    background-color: transparent;
    font-size: 1.8rem;
    color: white;
    cursor: pointer;
}




/*
=======================
contact
=======================
*/

.contact{
    width: 200px;
    
    position: fixed;
    display: flex;
    bottom: 2rem;
    right: 2rem;
    color: var(--clr-blue-dark);
    font-size: 2rem;
    i{
        transition: all 0.5s ease-in-out;
        padding: 1rem 0.6rem;
        &:hover{
            color: palevioletred;
        }
    }
    a{
        color: var(--clr-blue-dark);
    }
}


/*
=======================
index
=======================
*/


.index{
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow: hidden;
}

@media screen and (max-width:1100px) {
    .index{

        &-img{
            
            position: relative;
            top: -20px;
            display: block;
            border-radius: 5px;
            box-shadow: var(--light-shadow);
        }
        position: absolute;
        width: 100%;
        height: calc(100vh);
            
    }
}

@media screen and (max-width:768px) {
    .index{
        display: flex;
        flex-direction: column;
        &-img{
            
            position: relative;
            top: -20px;
            display: block;
            border-radius: 5px;
            box-shadow: var(--light-shadow);
        }
        position: absolute;
        width: 100%;
        height: calc(100vh);
            
    }
}




/*
=======================
portfolio
=======================
*/
.portfolio_c{
    top: 80px;
    height: 100vh;
    position: relative;
    
    h4{
        color: var(--clr-grey-5);
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5rem;
    }
    p{
        color: var(--clr-grey-6);
        font-size: 0.8rem;
        letter-spacing: 0.2rem;
    }
    .c_button{
        position: relative;
        margin: 1rem;
        margin-left: 3rem;
        max-width: 14rem;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;
        background-color: var(--clr-grey-10);
        padding: 1.2rem 1rem;
        border-radius: 3px;
        box-shadow: var(--dark-shadow);
        &::after{
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 0.25rem inset white;
            border-radius: 3px;
            transition: all 0.3s linear;
            opacity: 0;
            transform: scale(0,0);
        }
        &:hover::after{
            opacity: 0.7;
            transform: scale(1);
            
        }
        &:hover{
            background-color: var(--clr-grey-5);
            h4{
                color: white;
            }
            p{
                color: var(--clr-grey-9);
            }
        }
    }
    .underline{
        margin-bottom: 2rem;
    }
    &-center{
        padding: 1rem;
        width: 100%;
        margin-top: 2rem;
    }
    &-container{
        padding-right: 10rem;
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 20% 80%;
        height: 80vh;
        width: 100vw;
    }
    @media screen and (max-width:1300px) {
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1rem;
        }
        .c_button{
            padding: 0.8rem 0.8rem;
        }
        .c_button{
            width: 100%;
            height: fit-content;
        }
    }
    @media screen and (max-width:1100px) {
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1rem;
        }
        .c_button{
            padding: 0.8rem 0.8rem;
        }
        &-container{
            display: flex;
            flex-direction: column;
        }
        &-option{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 1.5rem;
        }
        .c_button{
            width: 100%;
            height: fit-content;
            margin-bottom: 0;
        }
    }
    @media screen and (max-width:996px) {
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 1rem;
        }
        .c_button{
            padding: 1rem 0.8rem;
        }
        &-container{
            display: flex;
            flex-direction: column;
        }
        &-option{
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 1.5rem;
        }
        .c_button{
            width: 100%;
            height: fit-content;
        }
    }
    @media screen and (max-width:850px) {
        h2{
            font-size: 2rem;
        }
        h4{
            font-size: 0.7rem;
        }
        .c_button{
            padding: 1rem 0.8rem;
        }
        &-container{
            display: flex;
            flex-direction: column;
        }
        &-option{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 1.5rem;
        }
        .c_button{
            width: 100%;
            height: fit-content;
        }
    }
    @media screen and (max-width:768px) {
        h2{
            font-size: 1rem;
        }
        h4{
            font-size: 8px;
        }
        &-container{
            display: flex;
            flex-direction: column;
        }
        &-option{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            gap: 1rem;
            
        }
        .c_button{
            
            padding: 0.5rem;
            margin: 0;
            width: 80px;
            height: 40px;
            p{
                align-items: center;
                justify-content: center;
                text-align: center;
            }
        }
        .underline{
            width: 80%;
        }
    }
}


.port{
    position: relative;
    h4{
        background-color: var(--clr-green-10);
        padding: 0.5rem 2rem;
        color: var(--clr-grey-5);
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5rem;
        border: 0.5px solid transparent;
        box-shadow: var(--light-shadow);
        width: fit-content;
    }
    h3{
        color: var(--clr-grey-4);
        font-size: 1.8rem;
    }
    p{
        color: var(--clr-grey-6);
        font-size: 1rem;
        letter-spacing: 0.15rem;
    }
    img{

        margin: 0 auto;
        margin-top: 2rem;
        max-width: 400px;
        object-fit: cover;
    }
    &-container{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .commentarys{
        
        padding-left: 7rem;
        p{
            padding-left: 1.5rem;
            font-weight: bold;
            color: rgb(212, 137, 102);
        }
        .commentary{
            width: 100vw;
            word-wrap: break-word;
            padding: 2rem;
            &:hover{
                background-color: antiquewhite;
            }
        }
        
    }
    .underline{
        width: 20rem;
        margin-top: 0.5rem;
        background-color: var(--clr-grey-8);
        margin-bottom: 0.5rem;
    }
    .c_header{
        display: grid;  
        grid-template-columns: max-content max-content;
        place-items: center;
        p{
            padding-left: 2rem;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }
    @media screen and (max-width:1100px) {
        img{
            max-width: 200px;
        }
        h4{
            font-size: 1rem;
        }
        h3{
            font-size: 1rem
        }
        p{
            font-size: 0.8rem;
        }
        .commentarys{
        
            padding-left: 3rem;
            .commentary{
                padding: 1rem;
            }
            
        }
        .c_header{
            p{
                padding-left: 1.5rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    @media screen and (max-width:996px) {
        img{
            max-width: 200px;
        }
        h4{
            font-size: 1rem;
        }
        h3{
            font-size: 1rem
        }
        p{
            font-size: 0.8rem;
        }
        .commentarys{
        
            padding-left: 3rem;
            .commentary{
                padding: 1rem;
            }
            
        }
        .c_header{
            p{
                padding-left: 1.5rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }
    }
    @media screen and (max-width:768px) {
        img{
            max-width: 250px;
        }
        &-container{
            display: flex;
            flex-direction: column;
        }
        .c_header{
            display: flex;  
            flex-direction: column;
            p{

                margin-top: 1rem;
                font-size: 1rem;
                font-weight: bold;
            }
        }
        .commentarys{
        
            padding-left: 0;
            .commentary{
                padding: 1rem;
            }
            p{
                padding-left: 0;
            }
            
        }
        
    }
}




.learns{
    position: relative;
    top: 100px;
    left: 2rem;
    h4{
        background-color: var(--clr-green-10);
        padding: 0.5rem 0.8rem;
        color: var(--clr-grey-5);
        font-size: 1.2rem;
        letter-spacing: 0.2rem;
        margin-bottom: 0.5rem;
        border: 0.5px solid transparent;
        box-shadow: var(--light-shadow);
        width: fit-content;
        &:hover{
            background-color: var(--clr-grey-9);
        }
    }
    h3{
        color: var(--clr-grey-4);
        font-size: 1.8rem;
    }
    p{
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(212, 137, 102);
        font-size: 0.9rem;
        letter-spacing: 0.15rem;
        padding-left: 1rem;
    }
    
    @media screen and (max-width:1100px) {
        top: 60px;
    }
}


.learn{
    height: fit-content;
    margin: 0 auto;
    width: 85vw;
    border: 4px dashed var(--clr-grey-7);
    padding: 2rem;
    margin-bottom: 5rem;
    border-radius: 20px;
    background-color: var(--clr-grey-10);
    &-title{
        width: fit-content;
    }
    .underline{
        width: 100%;
        margin-bottom: 1rem;
    }
    &-container{
        padding: 1rem;
        width: fit-content;
        margin-bottom: 1rem;
        &:hover{
            background-color: blanchedalmond;
            border: 2px dashed var(--clr-grey-5);
            border-radius: 4px;
        }
    }
    
}

.overcome{
    position: relative;
    p{
        font-size: 1rem;
        font-weight: bolder;
        color: rgb(185, 124, 54);
    }
    .learn-container{
        background-color: blanchedalmond;
        border: 2px dashed var(--clr-grey-5);
        border-radius: 4px;
        width: 95%;
        margin: 0 auto;
    }
    h4{
        padding: 0.5rem 1rem;
        background-color: var(--clr-grey-4);
        box-shadow: none;
        color: white;
        
    }

}

.learn-container-title{
    position: relative;
    &::after{
        content: '';
        position: absolute;
        width: calc(100% + 5px);
        height: calc(100% + 5px);
        left: -2.5px;
        top: -2.5px;
        border: 5px dotted blanchedalmond;
    }
}


.question{
    display: grid;
    grid-template-columns: repeat(auto-fill,300px);
}

.dropleft{
    
    
    position: fixed;
    right: 3rem;
    top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    &::after{
        position: absolute;
        content: '';
        background-color: rgb(206, 225, 219);
        left: -20%;
        top: -10px;
        width: 140%;
        height: calc(100% + 20px);
        z-index: -1;
        box-shadow: var(--dark-shadow);
        border-radius: 5px;
    }
    a{
        padding: 0.5rem 0;
        color: var(--clr-grey-3);
        &:hover{
            color: red;
        }
    }
}
