@use  'global';

.nav{
    position: absolute;
    top: 0;
    height: 100vh;
    width: 15rem;
    background-color: #f1f2fa;
    align-items: center;
    text-align: center;
    &-center{
        margin: 0 auto;
        width: 100%;
        max-width: 15rem;
    }
    a{
        color: #616794;
        font-size: 1.1rem;
        font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    }
    a:hover{
        color: red;
    }
    li{
        margin-bottom: 2rem;
    }
    &-header{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
}

.show-page{
    position: absolute;
    left: 15rem;
    top: 0;
    width: calc(100vw - 15rem);
    height: 100vh;
}
.demo{
    margin-left: 2rem;
    margin-right: 2rem;
    padding-top: 1rem;
}
.demo-section{
    display: none;
    margin-top: 1rem;
    li{
        margin-bottom: 0.8rem;
    }
    a{
        font-size: 0.9rem;
    }
}