@use 'global_66';

/*
=============== 
Navbar
===============
*/

.nav {
    display: flex;
    justify-content: center;/*水平對中*/
    align-items: center;/*垂直對中*/
    height: 4rem;
    background-color: var(--clr-primary-10);
    &-center{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;//定位
        margin: 0 auto;
    }
    &-links{
        display: none;//隱藏
    }
    &-btn{
        position: absolute;//絕對定位,根據上層的nav-center(要先預設上一層是relative)
        right: 1.5rem;//跟右邊距離
        border-color: transparent;//隱藏框線
        background-color: transparent;//隱藏背景
        font-size: 2rem;
        color: var(--clr-primary-5);
        cursor: pointer;//移到按鈕上會顯示手指
    }
}

.navbar-fixed{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 4rem;
    background-color: white;
    box-shadow: var(--light-shadow);
    z-index: 5;
}

@media screen and (min-width: 768px) {
    .nav{
        &-links{
            display: flex;
            //justify-content: space-around;
            gap: 1.5rem;
            position: absolute;
            right: 3rem;
            li a{
                color: var(--clr-grey-5);
            }
        }
        &-btn{
            display: none;
        }
    }
}

/*
=============== 
Sidebar
===============
*/

.sidebar{
    
    position: fixed; //固定在畫面上
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;//這4行可以把畫面填滿
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-grey-10);
    z-index: 5;
    transition: var(--transition);//動畫
    transform: translateX(-100%);
    .close-btn{
        position: absolute;
        right: 1.5rem;
        top: 0.8rem;
        border: transparent;
        background-color: transparent;
        font-size: 2rem;
        color:#bb2525;
        cursor: pointer;
    }
    &-links{
        text-align: center;
        a{
            font-size: 2rem;
            text-transform: capitalize;
            color: var(--clr-grey-5);
            letter-spacing: var(--spacing);
            &:hover{
                color: #e66b6b;
            }//hover 超連結
        }
        li{
            margin-top: 1rem;
        }
    }
    .social-icons{
        margin-top: 2rem;
        display: flex;
        gap: 2rem;
        font-size: 2rem;
        a{
            color: var(--clr-grey-2);
        }
    }
    
}

.show-sidebar{
    transform: translateX(0);
}


/*
=============== 
Hero
===============
*/

.hero{
    background-color: var(--clr-primary-10);

    &-center{
        min-height: calc(100vh - 4rem);
        display: grid;
        //justify-content: center;
        //align-items: center;
        place-items: center;
    }
    .underline{
        margin-left: 0;
        margin-bottom: 1.25rem;
    }

    &-info h4{
        color: var(--clr-grey-5);
    }
    &-btn{
        margin-top: 1.25rem;
    }
    &-icons{
        justify-content: start;
    }

    &-img{
        display: none;
    }
}



@media screen and (min-width: 768px) {
    .hero{

        &-center{
            min-height: calc(100vh - 4rem);
            grid-template-columns: 1fr 1fr;
        }
 
        &-img{
            display: block;
            width: 70%;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                top: 2rem;
                left: 2rem;
                width: 100%;
                height: 100%;
                border: 0.25rem solid var(--clr-primary-5);
                border-radius: var(--radius);
            }

        }

        &-photo{
            max-width: 25rem;
            max-height: 30rem;
            object-fit: cover;
            border-radius: var(--radius);
            position: relative;
        }
    }

    .about{
        &-center{
            grid-template-columns: 1fr 1fr;
        }
        &-img{
            display: block;
            width: 70%;
            position: relative;

            &::before{
                content: '';
                position: absolute;
                top: 2rem;
                left: 2rem;
                width: 100%;
                height: 100%;
                border: 0.25rem solid var(--clr-primary-5);
                border-radius: var(--radius);
            }

        }
    }
}


.about{
    background-color: white;
    &-center{
        display: grid;
        place-items: center;
        background-color: white;
    }
}

