@use  'global';

body{
    background-color: var(--clr-primary-10);
}

.week-center{
    margin: 0 auto;
    letter-spacing: 0.1rem;
    .week{
        display: block;
        background-color: white;
        transition: 0.25s;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 0.8rem;
        margin: 2rem 2rem;
        padding: 3rem;
    }
    .week:hover{
     color: red;
     border: 3px solid red;
    }
    img{
        display: block;
        object-fit: cover;
        margin: auto 0;
        box-shadow: var(--dark-shadow);
        border-radius: 0.25rem;
        margin-bottom: 1rem;
    }
}

.navbar{
    
    padding-bottom: 2rem;
    align-items: center;
    .btn{
        width: 3rem;
        font-size: 0.5rem;
        padding: 0.1rem 0.1rem;
        text-align: center;
    }
    &-center{
        margin-left: 2rem;
        margin-right: 2rem;
        margin-top: 2rem;
        a{
            color: var(--clr-grey-5);
        }
    }
    &-links{
        display: grid;
        gap: 1rem;
        margin-bottom: 1rem;
        grid-template-columns: repeat(auto-fit,3rem);
    }
    
}

@media screen and (min-width:768px) {
    .navbar{
        padding-bottom: 2rem;
        align-items: center;
        .btn{
            width: 4rem;
            font-size: 0.8rem;
            padding: 0.1rem 0.1rem;
            text-align: center;
        }
        &-center{
            margin-left: 2rem;
            margin-right: 2rem;
            margin-top: 2rem;
            justify-content: space-between;
            a{
                color: var(--clr-grey-5);
            }
        }
        &-links{
            display: grid;
            gap: 2rem;
            margin-bottom: 1rem;
            grid-template-columns: repeat(auto-fit,3rem);
        }
        
    }
}

@media screen and (min-width:1170px) {
    .navbar{
        
        padding-bottom: 2rem;
        align-items: center;
        .btn{
            width: 4rem;
            font-size: 0.8rem;
            padding: 0.1rem 0.1rem;
            text-align: center;
        }
        &-center{
            margin-left: 10rem;
            margin-right: 2rem;
            margin-top: 2rem;
            a{
                color: var(--clr-grey-5);
            }
        }
        &-links{
            display: grid;
            gap: 2rem;
            margin-bottom: 1rem;
            grid-template-columns: repeat(auto-fit,3rem);
        }
        .inside-btn{
            display: none;
        }
        
    }
    .week-center{
        max-width: 1200px;
        &-tar-r{
            justify-content: center;
            display: grid;
            grid-template-columns: 70% 20%;
            gap: 2rem;
        }
        &-tar-l{
            justify-content: center;
            display: grid;
            grid-template-columns: 20% 70%;
            gap: 4rem;
        }
        .w-img-r{
            display: block;
            width: 90%;
            position: relative;
        }
        .w-img-l{
            display: block;
            width: 90%;
            position: relative;
        }
        .w-img-l::before{
            content: "";
            position: absolute;
            top: 1rem;
            left: -1rem;
            width: 240px;
            height: 240px;
            border: 0.25rem solid var(--clr-primary-5);
            border-radius: var(--radius);
        }
        .w-img-r::before{
            content: "";
            position: absolute;
            top: 1rem;
            left: 1rem;
            width: 240px;
            height: 240px;
            border: 0.25rem solid var(--clr-primary-5);
            border-radius: var(--radius);
        }
        .object-img-r{
            position: relative;
            width: 240px;
            height: 240px;
            object-fit: cover;
        }
        
        .object-img-r:hover{
            position: absolute;
            top: -5rem;
            left: -5rem;
            width: 100%;
            height: 100%;
            width: 400px;
            height: 400px;
        }
    }
}

.inside-btn{
    display: block;
    background-color: var(--clr-grey-5);
    width: 3rem;
    height: 0.3rem;
    margin: 0 auto;
    border: 0px;
    border-radius: 2px;
}




.navbar-fixed{
    position: fixed;
    background-color: var(--clr-primary-10);
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    box-shadow: var(--dark-shadow);
}